:root {
    --dark-green-color: #596D48;
    --background-color: #F9FAFB;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: var(--background-color);
}

.form-layout {
    display: flex;
}

.background-container {
    background-image: url(images/background.jpg);
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 40vw;
    flex: 0 0 auto;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container section {
    padding: 0 3rem;
}

.label-input {
    display: flex;
    flex-direction: column;
}

.input-line {
    display: flex;
    gap: 3rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-container .input-section {
    background-color: white;
    box-shadow: 0 4px 5px -4px black;
    padding: 1rem 3rem;
    margin: 3rem 0;
}

.input-section h1{
    margin-top: 0;
}

a {
    text-decoration: none;
    color: var(--dark-green-color);
}
